<footer class="container mx-auto bg-white py-8 border-t border-gray-400 bg-opacity-25">
  <div class="container flex px-3 py-8 ">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full lg:w-1/2 ">
        <div class="px-3 md:px-0">
          <h3 class="font-bold text-gray-900">За нас</h3>
          <p class="py-4">
            МодерноМК | Бла бла бла бла тука ке стои општо за фирмата
          </p>
        </div>
      </div>
      <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
        <div class="px-3 md:px-0">
          <h3 class="font-bold text-gray-900">Social</h3>
          <ul class="list-reset items-center pt-3">
            <li>
              <%= link_to "https://www.facebook.com/moderno.mk.1" do %>
                <i class="fab fa-facebook fa-2x" style="color:#035bdc;"></i>
              <% end %>
              <%= link_to root_path do %>
                <i class="fab fa-instagram fa-2x"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
